%h1 Bootstrap 4 Components

%h2 Alerts

= render 'alerts'

%h2 Badges

= render 'badges'

%h2 Breadcrumb
%h2 Buttons
%h2 Button group
%h2 Card

= render 'cards'

%h2 Carousel
%h2 Collapse
%h2 Dropdowns
%h2 Forms
%h2 Input group
%h2 Jumbotron
%h2 List group
%h2 Modal
%h2 Navs
%h2 Navbar
%h2 Pagination
%h2 Popovers
%h2 Progress
%h2 Scrollspy
%h2 Tooltips