<!DOCTYPE html>
<html>
<head>
  <title>Twitter bootstrap components rails</title>
  <%= stylesheet_link_tag    "twitter/bootstrap/components/rails/application", media: "all" %>
  <%= javascript_include_tag "twitter/bootstrap/components/rails/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
