- if block_output
  %div{ class: container_classes }
    .thumbnail
      - if link_target.present?
        %a{ href: link_target }
          %img{ image_options }/
      - else
        %img{ image_options }/
      .caption
        = block_output
- else
  %div{ class: container_classes }
    - if link_target.present?
      %a.thumbnail{ href: link_target }
        %img{ image_options }/
    - else
      .thumbnail
        %img{ image_options }/