- if block_output
  %div{ class: container_classes, id: container_id }
    %div{ class: thumbnail_classes }
      - if link_options[:href].present?
        %a{ link_options }
          %img{ image_options }/
      - else
        %img{ image_options }/
      .caption
        = block_output
- else
  %div{ class: container_classes, id: container_id }
    - if link_options[:href].present?
      %a.thumbnail{ link_options }
        %img{ image_options }/
    - else
      %div{ class: thumbnail_classes }
        %img{ image_options }/