- case element_type
- when :button
  %button{ button_options }
    = block_output
- when :link
  = link_to(link_target, link_options) do
    = block_output
- when :input
  %input{ input_options }
    = block_output